# Ignore Python virtual environments
venv/
.venv/
env/
__pycache__/
*.pyc

# Ignore large model weights
*.pth
*.pt
*.onnx
*.qonnx
*.qnnx

# Ignore .gemini files
*.gemini

# Ignore Agents directory
*.gemini/

# Ignore conversion folder except script and req
qonnx2finn/*
!qonnx2finn/qonnx2finn.py
!qonnx2finn/req.txt

# Ignore logs and results
pinn_complex.log
complex/results/*