# env, vscode etc
env/
.vscode/
.venv/
__pycache__/

# Ignore AI agent files
*.gemini
*.claude/

# Ignore Agents directory
*.gemini/

# Ignore conversion folder except script and req
qonnx2finn/*
!qonnx2finn/qonnx2finn.py
!qonnx2finn/req.txt

# Ignore logs and results
*.log
!complex/sample_results/*
complex/results/*
APSK/results/*
PSK/results/*
STAR/results/*
